.main > * {
  font-size: 1vh;
  
  font-family: "Epilogue", sans-serif;
  background: #ccc;
}

html {
  background: rgb(255, 255, 255);
  --scrollbarBG: #fff;
  --thumbBG: #90a4ae;
}

.card {
  position: fixed;
  max-width: 125vh;
  height: 70vh;
  width: 30vw;
  bottom: 0;
  right: 0;
  margin: 3%;
  background-color: white;
  border-radius: 10px;
  border: 0.1vh solid #000;

}
body .card h1{
  margin: 0%;
  padding: 0%;
}
body .card #header {
  height: 7vh;
  background: #000;
  padding: 0;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 1.5vh;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .card #header h1 {
  color: #fff;
  font-size: 4vh;
  font-family: "Finger Paint", cursive;
  padding: 1vh;
}
 .card #message-section::-webkit-scrollbar {
  width: 10px;
}
 .card #message-section {
  position: relative;
  height: calc(90% - 10vh);
  padding: 0 2.5vw;
  overflow: auto;
  
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
 .card #message-section::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
 .card #message-section::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

 .card #message-section .bot {
  position: relative;
  bottom: 0;
  margin: 1vh 0vh;
  border-left: 0.5vh solid rgb(48, 176, 211);
  border-radius: 0 1.5vh 1.5vh 1.5vh;
  background-color: #f2f2f2;
}

 .card #message-section .user {
  position: relative;
  bottom: 0;
  margin: 1vh 0vh;
  border: 1.5px solid #000;
  border-radius: 1.5vh 0vh 1.5vh 1.8vh;
  background-color: #000;
  padding: 1vh;
  float: right;
}
 .card #message-section #userName {
  position: relative;
  top: -1px;
  left: -0.3%;
  min-height: 0.7vh;
  border: 0vh solid #777;
  padding: 0.5vh;
  border-radius: 0vh 1.5vh 0vh 0vh;
  color: #000;
  background-color: rgb(24, 247, 132);
  clear: both;
  line-height: 2vh;
  font-size: 2vh;
  position: relative;
  margin: -0.5vh;
  width: 100.6%;
  word-wrap: normal;
}
 .card #message-section .user  #user-response {
  color: #fff;
}
 .card #message-section .message {
  color: #000;
  clear: both;
  line-height: 2.5vh;
  font-size: 1.7vh;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 75%;
  word-wrap: break-word;
  z-index: 2;
}
 .card .input-section {
  z-index: 1;
  padding: 0 2.5vw;
  display: flex;
  justify-content: flex-start ;
  overflow: auto;
  margin-right: 5vw;
  height: 6vh;
  width: 100%;
}

 .card .input-section input {
  color: #000;
  outline: none;
  height: 5vh;
  font-size: 2.2vh;
  width: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 0.1vw;
}
body .card .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 1vw;
  margin-right: 3vw;
  padding: 0;
  position: relative;
  outline: none;
}
 .card .send .circle {
  position: relative;
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 247, 132);
  border-radius: 100%;
}
 .card .send .circle i {
  font-size: 3vh;
  
}
.start {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 7vh;
  height: 7vh;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 176, 247);
  border-radius: 100%;
  cursor: pointer;
  margin: 3%;
}
.stop {
  position: sticky;
  left: 0;
  width: 5vh;
  height: 5vh;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin: 3%;
}
.start .chat-img{
  position: relative;
  height: 4vh;
  width: 4vh;
  margin: 1vh;
  min-height: 20px;
  min-width: 20px;
  margin: 0;
  padding: 0;
}

.background{
  position: fixed;
  z-index: -1;
  top: 10vh;
  height: 90vh;
  width: 100vw;
}

@media screen and ((max-width: 80vh) or (max-width: 600px)){
  .card{
      width: 90vw;
      height: 85vh;
  }
}